body{
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
img{
    width: 50vh;
    height: 40vh;
}

.slider{
    width: 65vh;

    overflow: hidden;
    border: black;
    background: white;
}

.slides{
    width: 400%;
    display: flex;
    height: 50vh;
}
.slide-position{
    width: 25%;
    transition: all .6s ease;
}
.slide img{
    width: 100%;
    height: 100%;
}
.bar{
    width: 1vh;
    height: 1vh;
    background-color: rgb(136, 119, 96);
    cursor: pointer;
    opacity: .2;
    border-radius: 1vh;
    border: 0.2vh;
    border-color: black;
    transition: all .5s ease;
}
.pagination{
    display: flex;
    justify-content: center;
    align-content: flex-end;
    align-items: flex-end;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 1vh;
    
}
/*
input[name="button"] {
    display: none;
}*/



.visibility1{
    display: none;
    color: rgb(0, 0, 0);
}
.visibility2{
    display: none;
    color: rgb(0, 0, 0);
}
.visibility3{
    display: none;
    color: rgb(0, 0, 0);
}
.visibility4{
    display: none;
    color: rgb(0, 0, 0);
}

#buttonImage1:checked ~ input#buttonDiscr1,
#buttonImage2:checked ~ input#buttonDiscr2,
input#buttonImage3:checked ~ input#buttonDescr3,
input#buttonImage4:checked ~ input#buttonDescr4 {
    display: none;
}

input#buttonImage1:checked ~ .change1{
    margin-left:0;
}
input#buttonImage2:checked ~ .change1{
    margin-left: -25%;  
}

input#buttonImage3:checked ~ .change1{
    margin-left:-50%;
}
input#buttonImage4:checked ~ .change1{
    margin-left:-75%;
}




input#buttonDiscr1:checked ~ .visibility1{
    display:inline-block;
}
input#buttonDiscr2:checked ~ .visibility2{
    display:inline-block;
}

input#buttonDiscr3:checked ~ .visibility3{
    display:inline-block;
}
input#buttonDiscr4:checked ~ .visibility4{
    display:inline-block;
}

#buttonImage1:checked ~ input#buttonDiscr1,
#buttonImage2:checked ~ input#buttonDiscr2,
input#buttonImage3:checked ~ input#buttonDescr3,
input#buttonImage4:checked ~ input#buttonDescr4 {
    display: none;
}
