body{
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
img{
    width: 100%;
    height: 100%;
    background-size: cover;
}

.slider{
    width: 100%;
    overflow: hidden;
    border: black;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vh;
}

.slides{
    width: 400%;
    display: flex;
    height: 45vh;
    align-items: center;
}
.slide-position{
    width: 25%;
    transition: all .6s ease;
}
.slide img{
    width: 100%;
    height: 100%;
}
.bar{
    width: 1.5vh;
    height: 1.5vh;
    cursor: pointer;
    opacity: .5;
    border-radius: 2vh;
    transition: all .5s ease;
    border: 1vh solid transparent;
}



.curcle{
    width: 1vh;
    height: 1vh;
    background-color: rgb(136, 119, 96);
    cursor: pointer;
    opacity: .5;
    border-radius: 2vh;
    border-color: black;
    transition: all .5s ease;
    border: 0.2vh solid white;
}
.bar:active{
    background-color: rgb(14, 11, 8);
}

.bar:hover.curcle{
    background-color: rgb(14, 11, 8);
}


.pagination{
    display: flex;
    justify-content: center;
    align-content: flex-end;
    align-items: flex-end;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 1.3vh;
    
}

input[name="button"] {
    display: none;
}



.visibility1{
    display: none;
    color: rgb(0, 0, 0);
    transition: all .5s ease;
}
.visibility2{
    display: none;
    color: rgb(0, 0, 0);
    transition: all .5s ease;
}
.visibility3{
    display: none;
    color: rgb(0, 0, 0);
    transition: all .5s ease;
}
.visibility4{
    display: none;
    color: rgb(0, 0, 0);
    transition: all .5s ease;
}
.bottom-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50vh;
    flex-direction: row;
}

.wrap-for-slide{
    width: 50vh;
    height: 45vh;
    overflow: hidden;
    padding-top: 5vh;
}
.descriptions > span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vh;
}
.descriptions{
    transition: all .9s ease;
}

input#buttonImage1:checked ~ .litle-slide .bottom-block .pagination #button1 #curcle1{
    background-color:transparent;
    border: 0.4vh solid rgb(136, 119, 96);
}

input#buttonImage2:checked ~ .litle-slide .bottom-block .pagination #button2 #curcle2{
    background-color:transparent;
    border: 0.4vh solid rgb(136, 119, 96);
}
input#buttonImage3:checked ~ .litle-slide .bottom-block .pagination #button3 #curcle3{
    background-color:transparent;
    border: 0.4vh solid rgb(136, 119, 96);
}
input#buttonImage4:checked ~ .litle-slide .bottom-block .pagination #button4 #curcle4{
    background-color:transparent;
    border: 0.4vh solid rgb(136, 119, 96);
}


input#buttonImage1:checked ~ .litle-slide .bottom-block .pagination #button1 #curcle1{
    background-color:transparent;
    border: 0.4vh solid rgb(136, 119, 96);
}
input#buttonImage2:checked ~ .litle-slide .bottom-block .pagination #button2 #curcle2{
    background-color:transparent;
    border: 0.4vh solid rgb(136, 119, 96);
}
input#buttonImage3:checked ~.litle-slide .bottom-block .pagination #button3 #curcle3{
    background-color:transparent;
    border: 0.4vh solid rgb(136, 119, 96);
}
input#buttonImage4:checked ~ .litle-slide .bottom-block .pagination #button4 #curcle4{
    background-color:transparent;
    border: 0.4vh solid rgb(136, 119, 96);
}





input#buttonImage1:checked ~ .litle-slide .wrap-for-slide .slides .change1{
    margin-left:0;
}
input#buttonImage2:checked ~ .litle-slide .wrap-for-slide .slides .change1{
    margin-left: -25%;  
}

input#buttonImage3:checked ~ .litle-slide .wrap-for-slide .slides .change1{
    margin-left:-50%;
}
input#buttonImage4:checked ~ .litle-slide .wrap-for-slide .slides .change1{
    margin-left:-75%;
}




input#buttonImage1:checked ~ .litle-slide .bottom-block .descriptions #descriptionPhoto1{
    display:inline-block;
    transition: all .5s ease;
}
input#buttonImage2:checked ~ .litle-slide .bottom-block .descriptions #descriptionPhoto2{
    display:inline-block;
    transition: all .5s ease;
}

input#buttonImage3:checked ~ .litle-slide .bottom-block .descriptions #descriptionPhoto3{
    display:inline-block;
    transition: all .5s ease;
}
input#buttonImage4:checked ~ .litle-slide .bottom-block .descriptions #descriptionPhoto4{
    display:inline-block;
    transition: all .5s ease;
} 
.litle-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}

@media (max-width:750px){
    .wrap-for-slide{
        width: 35vh;
        height: 40vh;
    }
    img {
        width: 100%;
        height: 100%;}

    .bottom-block{
        width: 35vh;
    }
}

@media (max-width:550px) {

    .bottom-block{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50vh;
        flex-direction: column;
        gap: 3vh;
        padding-top: 3vh;
    }
    .wrap-for-slide{
        width: 30vh;
        height: 35vh;
    }
    img {
        width: 100%;
        height: 100%;}

    .slider{
        padding: 3vh;
    }
    .litle-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
}